---
import '@ltw/ui/globals.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- ICO format (base) -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- PNG format (for wider browser support) -->
    <link rel="alternate icon" type="image/png" href="/favicon.png" sizes="48x48" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Log the way</title>
  </head>
  <body>
    <slot />
  </body>
</html>
